﻿@using Top1000StackTags.Models;
@model IEnumerable<Tag>
@{
    int countSummary = Convert.ToInt32(ViewData["CountSummary"]);
}

<div class="container">
        <h2>Top 1000 Stackoverflow tags</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        %
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    tag.PercentUsed = Math.Round((double)(tag.Count * 100) / countSummary, 2);
                    <tr>
                        <td>
                            @tag.TagId
                        </td>
                        <td>
                            @tag.Name
                        </td>
                        <td>
                            @tag.Count
                        </td>
                        <td>
                            @tag.PercentUsed
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
